:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.mainpage {
  text-align: center;
  padding: 20px;
}

.gym-app-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

body, h1, h2, p, ul {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
.home{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  

}

.mainpage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

form input,
form button {
  margin-bottom: 10px;
  padding: 10px;
}

.add-gym-form {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-gym-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.add-gym-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.add-gym-form button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
}

.add-gym-form button:hover {
  background-color: #45a049;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 20px;
}

.cards_item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.cards_item:hover {
  transform: scale(1.05);
}

.cards_image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  border-radius: 15px 15px 0 0;
}

.card_content {
  padding: 20px;
}

.card_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.card_text {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #555;
}

.card_detail {
  font-size: 0.9rem;
  color: #888;
}


input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1em;
}

button {
  padding: 10px;
  font-size: 1em;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

body {
  background-image: url('https://t4.ftcdn.net/jpg/01/02/52/83/360_F_102528344_XfIuLtPSSBIIR3NYtLRe1QOBUgkdS8Cp.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
  color: #ffffff;
}


.navbarclass {
  text-align: center;
}

.navbarclass {
  background-color: transparent;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 10px;
  
}

.navbarclass ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.navbarclass p {
  margin: 0 10px;
}

.navbarclass a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.navbarclass a:hover {
  color: #ffa500;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.single-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.single-image {
  width: auto;
  height: 350px;
  object-fit: cover;
  margin:auto;
  display: block;
  
}

.single-content {
  padding: 15px;
}

.single_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.single-details {
  font-size: 14px;
  text-align: center;
}

/* Style for the AddReview component */
.add-review-container {
  margin-top: 10px;
}
.home {
  text-align: center;
  margin-top: 2rem;
}