:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.mainpage {
  text-align: center;
  padding: 20px;
}

.gym-app-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.mainpage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.title {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}



.add-gym-form {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-gym-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.add-gym-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.add-gym-form button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
}

.add-gym-form button:hover {
  background-color: #45a049;
}


.cards {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.cards_item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px; 
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  flex: 1 0 300px; 
}

.cards_item:hover {
  transform: scale(1.05);
}

.card_image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.card_content,
.card_title,
.card_text,
.card_detail {
  padding: 10px;
}

.card_title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card_text {
  font-size: 1rem;
}

.card_detail {
  font-size: 0.9rem;
  color: #888;
}


input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1em;
}

button {
  padding: 10px;
  font-size: 1em;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #3494e6, #ec6e64);
  background-size: cover;
}


.navbarclass {
  text-align: center;
}

.navbarclass {
  background-color: #3494e6;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.navbarclass ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.navbarclass p {
  margin: 0 10px;
}

.navbarclass a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.navbarclass a:hover {
  color: #ffa500;
}

